
* {
    word-break: keep-all;
    font-feature-settings: normal;
    text-rendering: optimizeLegibility
}

header{
    color: #737373;
    margin-bottom: 80px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    white-space: nowrap;
}

.header-name{
    font-size: 3rem;
    color:#2b2929;
    font-family: "futura-pt", sans-serif;
    font-weight: 100;
    
}

.header-name:hover{
    text-decoration: underline;
    color:#2b2929;
}


.main-nav{
    margin:10px 10px;
}
.nav-item{
    margin: 10px 10px;
    font-size: 1rem;
    color: #737373;
    font-family: "futura-pt", sans-serif;
    font-weight: 100;
}

.nav-item:hover{
    text-decoration: underline;
    color:#2b2929;
}

.on-current{
    color:#2b2929;
}




body {
    padding-top: 100px;
    background-color: #fffffa;
    color: #737373;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
}

p {
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
    margin: 0 0 0.7rem;
}

a {
    text-decoration: none;
    cursor: pointer
}

h1{
    color: #3b3b3b;
    font-family: "futura-pt", sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}

.header-h1{
    margin-bottom: 10px;
}

ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: inside;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.canvas{
    max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

.container {
    background-color: #18191a;
    max-width: 750px;
    position: relative;
}
.flex{
    display:flex;
}
#about-body-div{
    padding-right:50px;
    flex:1;
}
#about-image-div{
    flex:1;
}
#about-contact{
    font-size: 14px;
    color:#2b2929;
    font-weight: bold;
}
#about-contact:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 750px){
    header{
        flex-direction: column;
    }
    .flex{
        display:block;
    }
}