
* {
    margin: 0;
    padding: 0;
    word-break: keep-all;
    font-feature-settings: normal;
    text-rendering: optimizeLegibility
}

header{
    margin-bottom: 40px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body {
    padding-top: 100px;
    background-color: #fffffa;
    color: #737373;
    background-image: none;
    background-position: top left;
    background-size: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
}

p {
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
    margin: 0 0 0.7rem;
}

a {
    color: #e4e5e6;
    text-decoration: none;
    cursor: pointer
}

h1{
    color: #3b3b3b;
    font-family: "futura-pt", sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .06em;
    font-weight: 300;
    font-style: normal;
}

.header-h1{
    margin-bottom: 10px;
}

ul{
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: inside;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.canvas{
    max-width: 1200px;
    margin: 10px auto;
    padding: 75px;
}

.container {
    background-color: #18191a;
    max-width: 750px;
    position: relative;
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;}
}

@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.text-nowrap{
    white-space: nowrap!important;
}

@media (min-width: 576px){
    .flex-sm-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }
}   
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.navbar-name{
    font-size: 2rem;
    float:left;
}





#main-container {
    margin-top: 90px;
    margin-bottom: 50px
}

#top-container {
    position: fixed;
    padding-bottom: 5px;
    z-index: 999
}

#top-container h1 {
    font-size: 24px;
    display: inline;
    font-weight: 700
}

#top-container small {
    display: block;
    font-size: 13px;
    font-weight: 400
}

#top-container .logo-link span {
    font-size: 14px;
    font-weight: 400
}

#top-container .logo-link:focus,#top-container .logo-link:hover {
    color: #3a3b3c;
    text-shadow: 1px 1px 0 #e4e5e6,-1px 1px 0 #e4e5e6,-1px -1px 0 #e4e5e6,1px -1px 0 #e4e5e6
}

#top-container .info-link:focus,#top-container .info-link:hover {
    color: #3a3b3c;
    background-color: #e4e5e6
}

#about-container p,#about-container ul {
    margin-bottom: 30px;
    font-size: 16px
}

#about-container ul {
    list-style: none inside none
}

#about-container ul li {
    margin-bottom: 5px
}

#about-container a {
    text-decoration: underline
}

#about-container a:focus,#about-container a:hover {
    text-decoration: none;
    background-color: #e4e5e6;
    color: #18191a
}

#main-container code,#main-container code span {
    font-family: Consolas,Monaco,'Ubuntu Mono','Andale Mono',monospace
}

#main-container li code,#main-container p code {
    background-color: #363636;
    padding: 0 5px 0 5px
}
