---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact" description="Get in touch with bacenl.">
  <div class="canvas">
    <h1 class="header-h1">CONTACT ME</h1>
    <p>I'm open to new interesting projects, so feel free to reach out!</p>
    <ul>
      <li><a href="https://www.github.com/bacenl" class="contacts-link" target="_blank" rel="noopener noreferrer">GitHub</a></li>
<li><a href="https://x.com/_bacenl" class="contacts-link" target="_blank" rel="noopener noreferrer">Twitter / X</a></li>
    </ul>
  </div>
</BaseLayout>
