---
---
<footer class="site-footer">
  <div class="footer-inner">
    <a class="footer-link" href="https://github.com/bacenl" target="_blank" rel="noopener noreferrer">GitHub</a>
    <span class="footer-sep">/</span>
    <a class="footer-link" href="https://x.com/_bacenl" target="_blank" rel="noopener noreferrer">Twitter</a>
  </div>
</footer>
