<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/projects/software" />
    <script>window.location.replace('/projects/software');</script>
  </head>
  <body>
    <p>Redirecting to <a href="/projects/software">Software projects</a>…</p>
  </body>
</html>
