---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
  category: 'software' | 'design' | 'games';
}

const { title, description, category } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <div class="canvas">
    <a class="back-link" href={`/projects/${category}`}>← BACK TO PROJECTS</a>
    <h1 class="header-h1">{title}</h1>
    <div class="blog-post-content">
      <slot />
    </div>
  </div>
</BaseLayout>
